$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$base-color : rgb(87, 28, 28);
$secondary : rgb(255, 255, 255);
body{
    font: 100% $font-stack;
    background-color: $secondary;
    color: $primary-color;
}
%center-element{
  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);


  padding: 10px;

}
@mixin switchColors($background,$text) {
    background-color: $background;
    color: $text;
}
.main{
    @extend %center-element;
    border-radius: 20px;
  height: 500px;
  width: 400px;
    @include switchColors($primary-color,$secondary );
}
.login-register-nav{
    display: flex;
    button{
        width: 100%;
    }
}

.secondary-button{
    @include switchColors($secondary,$base-color );
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.secondary-button:hover{
    @include switchColors($base-color,$secondary);
}
label {
    font-size:  12.5px; 
    color:  #000;
    opacity:  .8;
    font-weight:  400; 
  }
form {
    padding:  40px 30px; 
    display:  flex; 
    flex-direction:  column;
    align-items:  flex-start; 
    padding-bottom:  20px; 
    width:  300px; 
    h4 {
      margin-bottom:  20px;
      color:  rgba(#000, .5);
      span {
        color:  rgba(#000, 1);
        font-weight:  700; 
      }
    }
    p {
      line-height:  155%; 
      margin-bottom:  5px; 
      font-size:  14px; 
      color:  #000; 
      opacity:  .65;
      font-weight:  400; 
      max-width:  200px; 
      margin-bottom:  40px; 
    }
  }

